.product-detail .row {
    display: flex;
  
    align-items: center;
    
    padding-top: 10px;  
    margin: 20px; 
    flex-wrap: wrap;
    gap:1.5rem;

}

    


  .product-detail .row .image {
    flex:1 1 40rem;
    align-items: center;
    background-color: lightyellow; 
    margin-right: 5px;
     
  
   
   
  }

  .row  .image img {
    transition: transform 0.5s ease-in-out;
    width: 100%;
  
 
  }
  
  .row .image img:hover {
    transform: scale(1.2); 
  } 


.row .content .highlight {

  font-size: 2.8rem;
  color:var(--black);
  text-transform: capitalize;
  margin-bottom: 1rem;
  



}



  
  .row .content table {
    flex:1 1 40rem;
    align-items: center;
    margin-top: 10px; 
    margin-left: 1px;
    padding: 2rem;
 
  
 
  }
  


  .row .content table {
    border-collapse: collapse; 
    width: 100%; 
    margin-top: 3px;
  }
  
.row .content table td {
    border: 1px solid gray; 
    padding: 7px; 
  }

  tr:nth-child(odd) {
    background-color: lightgray; 
  }
  
  tr:nth-child(even) {
    background-color: white; 
  }
  


  .row .content-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .row .content-list li {
    font-size: 16px;
    margin-bottom: 5px;
  }