
.home .slide{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
    margin-bottom: 4rem;
 }
 
 .home .slide .content{
    flex:1 1 40rem;
    text-align: center;
 }
 
 .home .slide .image{
    flex:1 1 40rem;
 }
 
 .home .slide .image img{
    width: 100%;
 }
 
 .home .slide .content span{
    font-size: 2.5rem;
    color:var(--light-color);
 }
 
 .home .slide .content h3{
    font-size: 5rem;
    text-transform: capitalize;
    color:var(--black);
    padding:1rem 0;
 }
 
 .swiper-pagination-bullet-active{
    background-color: var(--yellow);
 }