

.steps > .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
 }
 
 .box-container > .box{
    text-align: center;
    padding:2rem;
    border:var(--border);
 }
 
 .box > img{
    height: 15rem;
    margin-bottom: 1rem;
    width: 100%;
    object-fit: contain;
 }
 
  .box > h3{
    font-size: 2rem;
    color:var(--black);
    margin:1rem 0;
    text-transform: capitalize;
 }
 
  .box > p{
    font-size: 1.6rem;
    color:var(--light-color);
    line-height: 2;
 }
 














.reviews .slide{
    margin-bottom: 4rem;
    border:var(--border);
    text-align: center;
    padding:2rem;
 }
 
 .reviews .slide img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
 }
 
 .reviews .slide p{
    padding:1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color:var(--light-color);
 }
 
 .reviews .slide .stars{
    margin-top: .5rem;
 }
 
 .reviews .slide .stars i{
    font-size:1.7rem;
    color:var(--yellow);
 }
 
 .reviews .slide h3{
    font-size: 2rem;
    color:var(--black);
    margin-top: 1.5rem;
 }
 